body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}
ul{
  margin: 0 0 10px;
  padding: 0;
}

li{
  display: block;
  list-style: none;
  color: #7c7c7c;
  font-size: 16px;
  height: 19px;
  line-height: 1;
  font-weight: 100;
}

.weather-app{
  margin: 20px auto;
  max-width: 600px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 15px;
}

.search-form {
  margin-bottom: 20px;
}

.temp{
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.units{
  position: relative;
  top: -34px;
}